src/main/app/aws_fargate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="aws_fargateFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/fargate/test" doc:name="HTTP"/>
        <cxf:proxy-service configuration-ref="CXF_Configuration" namespace="http://www.example.org/Fargate/" service="Fargate" payload="body" wsdlLocation="Fargate.wsdl" soapVersion="1.2" doc:name="CXF"/>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace far http://www.example.org/Fargate/
---
{
	far#concatOperationResponse: {
		resultantElement: payload.far#concatOperation.inputElement1 ++ " " ++ payload.far#concatOperation.inputElement2
	}
}]]></dw:set-payload>
            <dw:set-variable variableName="Sample"><![CDATA[%dw 1.0
%output application/java
%namespace far http://www.example.org/Fargate/
---

payload.far#concatOperation.inputElement1]]></dw:set-variable>
        </dw:transform-message>
        <logger message="#[flowVars.Sample]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
